html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
 width:100%;
 flex-grow: 1;
}

.nav-skeleton {
  display:block;
  min-height: 5.25rem;;
}

.navbar {
  align-content: center;
  justify-content: center;
}

.nav-icon {
  margin-right: 0.2em;
}

.navbar .navbar-menu {
  flex-grow: initial;
  flex-shrink: initial;
}

figure.image.is-2by1 {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    align-items: initial;
    display: flex;
  }
}

.color-main {
  background-color: rgb(255, 255, 255) !important;
}
.color-main-light {
  background-color: rgb(250, 250, 250) !important;
}

.left {
  align-items: center;
}
